.avatar-container {
    width: 210px;
    height: 280px;
    background-size: cover;
}

.avatar-blur-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(106, 106, 106, 0.5);
    backdrop-filter: blur(30px);
}
