@import "../../utils/breakpoints.scss";
.navbar-container {
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    background-color: inherit;
    color: white;
    .navbar-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0px calc(50% - 25vw) 0px calc(50% - 25vw);
        .navbar-n-title {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
    }
    .backdrop {
        z-index: -5;
        position: absolute;
        inset: 0;
      
        backdrop-filter: blur(80px);
        -webkit-backdrop-filter: blur(80px);
      
        mask-image: linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.5) 10%,
          rgba(0, 0, 0, 0.8) 20%,
          rgba(0, 0, 0, 1) 30%,
          rgb(0, 0, 0)
        );
      
        -webkit-mask-image: linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.5) 10%,
          rgba(0, 0, 0, 0.8) 20%,
          rgba(0, 0, 0, 1) 30%,
          rgb(0, 0, 0)
        );
}
}

@media (max-width: $largeDesktop) { 
    .navbar-container {
        width: 100vw;
        font-size: 0.5rem;
        gap:100px;
        display:flex;
        justify-content: center;
        padding: 0px 25px;
        margin: 100px 0px 0px 0px;
    }
    .navbar-content{
        min-width: 90%;
        margin: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .avatar-container{
            
        }
    }
    .navbar-n-title{
       
        min-width:  100%;
    }
}   